
<% success = @checkpoint.good_habit.checkpoints.where(checked: true).count.to_f %>
<% total = @checkpoint.good_habit.announced_checkpoints.to_i %>
<% percentage = ((success/total)*100).round(2) %>
<% left = total - success%>

<div class="invis-percentages <%= @checkpoint.good_habit.id%>" id="invis-percentages"><%= percentage.to_i%> %</div>

