
<% success = @checkpoint.good_habit.checkpoints.where(checked: true).count.to_f %>
<% total = @checkpoint.good_habit.announced_checkpoints.to_i %>
<% percentage = ((success/total)*100).round(2) %>

<% if percentage == 0  %>
<div class="achievement-grid red"></div>
<div class="achievement-grid gray"></div>
<div class="achievement-grid gray"></div>
<div class="achievement-grid gray"></div>
<div class="achievement-grid gray"></div>
<div class="achievement-grid gray"></div>
<div class="achievement-grid gray"></div>
<div class="achievement-grid gray"></div>
<% elsif percentage > 0 && percentage <= 16.67 %>
<div class="achievement-grid orange"></div>
<div class="achievement-grid orange"></div>
<div class="achievement-grid gray"></div>
<div class="achievement-grid gray"></div>
<div class="achievement-grid gray"></div>
<div class="achievement-grid gray"></div>
<div class="achievement-grid gray"></div>
<div class="achievement-grid gray"></div>
<% elsif percentage > 16.67 && percentage <= 33.33 %>
  <div class="achievement-grid orange"></div>
  <div class="achievement-grid orange"></div>
  <div class="achievement-grid orange"></div>
  <div class="achievement-grid gray"></div>
  <div class="achievement-grid gray"></div>
  <div class="achievement-grid gray"></div>
  <div class="achievement-grid gray"></div>
  <div class="achievement-grid gray"></div>
<% elsif percentage > 33.33 && percentage <= 50 %>
<div class="achievement-grid green1"></div>
  <div class="achievement-grid green1"></div>
  <div class="achievement-grid green1"></div>
  <div class="achievement-grid green1"></div>
  <div class="achievement-grid gray"></div>
  <div class="achievement-grid gray"></div>
  <div class="achievement-grid gray"></div>
  <div class="achievement-grid gray"></div>
<% elsif percentage > 50 && percentage <= 66.67 %>
<div class="achievement-grid green1"></div>
  <div class="achievement-grid green1"></div>
  <div class="achievement-grid green1"></div>
  <div class="achievement-grid green1"></div>
  <div class="achievement-grid green1"></div>
  <div class="achievement-grid gray"></div>
  <div class="achievement-grid gray"></div>
  <div class="achievement-grid gray"></div>
<% elsif percentage > 66.67 && percentage <= 83.33 %>
<div class="achievement-grid green2"></div>
  <div class="achievement-grid green2"></div>
  <div class="achievement-grid green2"></div>
  <div class="achievement-grid green2"></div>
  <div class="achievement-grid green2"></div>
  <div class="achievement-grid green2"></div>
  <div class="achievement-grid gray"></div>
  <div class="achievement-grid gray"></div>
<% elsif percentage > 83.33 && percentage < 100 %>
<div class="achievement-grid green2"></div>
  <div class="achievement-grid green2"></div>
  <div class="achievement-grid green2"></div>
  <div class="achievement-grid green2"></div>
  <div class="achievement-grid green2"></div>
  <div class="achievement-grid green2"></div>
  <div class="achievement-grid green2"></div>
  <div class="achievement-grid gray"></div>
<% elsif percentage == 100 %>
<div class="achievement-grid green3"></div>
  <div class="achievement-grid green3"></div>
  <div class="achievement-grid green3"></div>
  <div class="achievement-grid green3"></div>
  <div class="achievement-grid green3"></div>
  <div class="achievement-grid green3"></div>
  <div class="achievement-grid green3"></div>
  <div class="achievement-grid green3"></div>
<% end %>



