
<% success = @checkpoint.good_habit.checkpoints.where(checked: true).count.to_f %>
<% total = @checkpoint.good_habit.announced_checkpoints.to_i %>
<% percentage = ((success/total)*100).round(2) %>
<% left = total - success%>

<div class="achievements-infos-<%= @checkpoint.good_habit.id%>" id="achievements-infos">
<p class="achievement-paragraph"><%= left.to_i %> checkpoints left </p>
<p class="achievement-paragraph">current achivement success : <%= percentage %>% </p>
</div>