
<h1>BadHabits#index</h1>
<p>Find me in app/views/good_habits/index.html.erb</p>

<% @bad_habits.each do |habit| %>
  <li>
  <%= habit.title %>
  <%= habit.checkpoints %>
  <%= habit.cycle.title %>
  <%= habit.user.name %>
  </li>

  
<% end %>