<h1>User profile page</h1>
<h3> This page is otpionnal actually </h3>

<br>

<p> until current user is not set, i'll have to use this additionnal page</p>
<%= link_to "the app starts here", user_cycles_path(@user.id) %>

