<h1> Stats from cycles views </h1>


<p> To be abble to make stats, I need to build up the checkpoint system </p>

<p> potentially add a column checked by user .. hmmm </p>
<p> what are my options ? </p>

<p> - add a column checkpoints_checked, with a max of checkpoints_max </p>
<p> this special column will be reseted each (x depending on the cycle) </p>


<p> - make an object Checkpoint , working bit like a like. </p>
<p> with <p> 
<p> checkpoints max </p>
<p> checkpoints checked </p>
