<h1> Stats from cycles views </h1>


<p> To be abble to make stats, I need to build up the checkpoint system </p>

<p> potentially add a column checked by user .. hmmm </p>
<p> what are my options ? </p>

<p> - add a column checkpoints_checked, with a max of checkpoints_max </p>
<p> this special column will be reseted each (x depending on the cycle) </p>
<hr>
<p> bon faudrait commencer a faire les checkpoints sur les views habits </p>

<p> je pense que le systeme sera pas trop compliqué en ruby </p>
<p> le plus dur reste le reset, et la timezone </p>

