/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "top-navbar";
 @import "close-alert";
 @import "good_habit";
 @import "middle-navbar";
 @import "stats";
 @import "small-views";
 @import "cycles";
 @import "user";



html {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding:0 ;
  min-height: 100%;
    width: 100%;
    background-image: linear-gradient(rgb(234, 229, 98), rgb(240, 232, 0))
}

.main-wrapper {
  margin: min(10px)!important;
  max-width: 70%;
  margin: 0 auto!important;

}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .main-wrapper {
    max-width: 75%;
  }
}
@media all and (min-width: 864px) and (max-width: 1024px) {
  .main-wrapper {
    max-width: 80%;
  }
}
@media all and (min-width: 720px) and (max-width: 864px) {
  .main-wrapper {
    max-width: 85%;
  }
}
@media all and (min-width: 600px) and (max-width: 720px) {
  .main-wrapper {
    max-width: 90%;
  }
}
@media all and (max-width: 600px) {
  .main-wrapper {
    max-width: 95%;
  }
}

.page-header {
  text-align: center;
  font-family: "Prompt", serif;

}

.schedule {
  width: 100px;
}

.feedback {
  width: 100px;
}
.gear {
  width: 100px;
}
.programmer {
  width: 100px;
}




.header-not-auth {
  border-bottom: 3px solid rgb(67, 4, 70);
  height: 80px;
  width: 100%;
  display: table;
}

.page-main-header {
  text-align: center;
  font-family: "Prompt", serif;
  display: table-cell;
  vertical-align: middle;
  text-align: center;

}

.habits-grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  
  @media (max-width: 768px) {
    grid-template-columns: auto;
  }
  @media (min-width: 250px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-right: 0vh;
    margin-left: 0vh;
  }
  @media (min-width: 700px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-right: 0vh;
    margin-left: 0vh;
  }
  @media (min-width: 900px) {
    margin-right: 2vh;
    margin-left: 2vh;
  }
  
  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-right: 0vh;
    margin-left: 0vh;
  }
  @media (min-width: 1350px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-right: 2vh;
    margin-left: 2vh;
  }

  
  @media (min-width: 1580px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin-right: 0vh;
    margin-left: 0vh;
  }

}

.spe-i{
  font-size: 13px;
}

.habit-grid{
  border: 2px solid rgb(67, 4, 70);
  border-radius: 10px;
  color: black;
  background-image: linear-gradient(rgb(231, 231, 231), rgb(214, 214, 214));
  box-shadow: 4px 4px 8px 4px rgba(67, 4, 70, 0.534);
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.habit-grid:hover {
  transition: 0.2s;
  border: 4px solid rgb(67, 4, 70);


}



.habit-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 30px 60px;
  grid-template-areas: 
  "header header"
}





.habit-header {
  padding:5px;
  grid-area: header;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(67, 4, 70);

}
.habit-header h4{
  margin:0;
  font-size: 15px;
}




#achievements-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 40px));
  margin-right: -5px;
  width: 200px;
}

.achievement-grid {
  margin-left: 0!important;
  width: 20px;
  height: 30px;
  border-radius: 5px;
}

.achievement-grid.green3 {
  background-color: rgb(24,196,68);
}
.achievement-grid.green2 {
  background-color: #74e049;
}
.achievement-grid.green1 {
  background-color: #98d142;
}
.achievement-grid.orange {
  background-color: #F8A544;
}
.achievement-grid.gray {
  background-color: #BBBEBB;
}
.achievement-grid.red {
  background-color: rgb(240,44,44);
}

.achievement-grid.yellow {
  background-color: rgb(240, 232, 0);
}
.spe-i-2 {

}

#infos-wrapper {
  padding:5px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#achievements-infos {
  padding-left:5px;
  padding-bottom:5px;
  padding-right:5px;

}

#achievements-infos p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

#habit-days {
  padding:5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: flex-start;
font-size: 14px;
}
#spe-habit-days{
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.info-tag {
  width: 25px;
}

.calendar-numero-x {
  border: 4px solid pink;
}







.navbar-link-2 p{
  background: none;
  color: black;
  text-decoration:none; 
  font-family: "Prompt", serif;
}
.navbar-link-2 p:hover{
  text-decoration:underline; 
  font-weight: bold;
}
.container-spe {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.sun {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  margin-right: 5px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.moon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  margin-right: 5px;
  margin-top: -5px;
  margin-bottom: -5px;
}


.moon-2 {
  margin-right: 0px;
  width: 30px;
  flex-shrink: 0;
}