/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "top-navbar";
 @import "close-alert";
 @import "good_habit";
 @import "middle-navbar";




html {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding:0 ;
  min-height: 100%;
    width: 100%;
    background-image: linear-gradient(rgb(234, 229, 98), rgb(240, 232, 0))
}

.main-wrapper {
  margin: min(10px)!important;
  max-width: 70%;
  margin: 0 auto!important;

}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .main-wrapper {
    max-width: 75%;
  }
}
@media all and (min-width: 864px) and (max-width: 1024px) {
  .main-wrapper {
    max-width: 80%;
  }
}
@media all and (min-width: 720px) and (max-width: 864px) {
  .main-wrapper {
    max-width: 85%;
  }
}
@media all and (min-width: 600px) and (max-width: 720px) {
  .main-wrapper {
    max-width: 90%;
  }
}
@media all and (max-width: 600px) {
  .main-wrapper {
    max-width: 95%;
  }
}

.page-header {
  text-align: center;
  font-family: "Prompt", serif;
}

.schedule {
  width: 100px;
}

.feedback {
  width: 100px;
}
.gear {
  width: 100px;
}
.programmer {
  width: 100px;
}


.user-container {
  box-shadow: 4px 4px 8px 4px rgba(67, 4, 70, 0.534);
  margin: 10px !important;
  border-radius: 20px;
  border: 3px solid rgb(67, 4, 70);
  background-image:  linear-gradient(rgb(231, 231, 231), rgb(214, 214, 214));

}
.user-cycle-selection {
  display: grid;
  padding-top: 12vh;
  padding-bottom: 12vh;
  gap: 10px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  text-align: center;
  @media (max-width: 600px) {
    grid-template-columns: auto;
    padding-top: 4vh;
  padding-bottom: 4vh;
  }

}

.user-cycle-selection ul{
  list-style-type: none;
  padding-left: 0;
}

.user-cycle-selection .cycles-list-a{
  background-image:  linear-gradient(rgb(231, 231, 231), rgb(214, 214, 214));
  color: purple;
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
  border: 5px solid rgb(67, 4, 70);
  border-radius: 6px;
  padding: 10px;
  transition: 0.3s;

}

.user-cycle-selection .cycles-list-a:hover{
  text-decoration: none;
  font-size: 30px;
  transition: 0.3s;
  background-image: linear-gradient(rgb(234, 229, 98), rgb(240, 232, 0));
}





.user-habit-selection {
  display: grid;
  padding-top: 12vh;
  padding-bottom: 12vh;
  padding-left: 16vh;
  padding-right: 16vh;
  gap: 16vh;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  text-align: center;
  @media (max-width: 960px) {
  padding-left: 10vh;
  padding-right: 10vh;
  gap: 8vh;
  }
  @media (max-width: 600px) {
    grid-template-columns: auto;
    padding-top: 4vh;
  padding-bottom: 4vh;
  padding-left: 2vh;
  padding-right: 2vh;
  gap: 4vh;
  }
}
.user-habit-selection ul{
  list-style-type: none;
  padding-left: 0;
}
.user-habit-selection .cycles-list-a{
  background-image:  linear-gradient(rgb(231, 231, 231), rgb(214, 214, 214));
  color: purple;
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
  border: 5px solid rgb(67, 4, 70);
  border-radius: 6px;
  padding: 10px;
  transition: 0.3s;

}

.user-habit-selection .cycles-list-a:hover{
  text-decoration: none;

  font-size: 32px;
  transition: 0.3s;
  background-image: linear-gradient(rgb(234, 229, 98), rgb(240, 232, 0));
}

.header-not-auth {
  border-bottom: 3px solid rgb(67, 4, 70);
  height: 80px;
  width: 100%;
  display: table;
}

.page-main-header {
  text-align: center;
  font-family: "Prompt", serif;
  display: table-cell;
  vertical-align: middle;
  text-align: center;

}

.habits-grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  padding: 2rem;

  @media (max-width: 768px) {
    grid-template-columns: auto;
  }

}

.habit-grid{
  background-color: white !important;
  border: 3px solid rgb(67, 4, 70);
  border-radius: 1rem;
  color: black;
}

.habit-grid:hover {
  transition: 0.3s;
  border: 6px solid rgb(67, 4, 70);

}



.habit-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
  "header header"
}



.habit-header {
  grid-area: header;
  margin-left: 15px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.habit-header p{
  margin: 0;
  margin-right: 30px;
}



#achievements-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 40px));
  margin-right: 15px;
  margin-bottom: 15px;
  justify-items: end;
  justify-content: end;
}

.achievement-grid {
  margin-left: 0!important;
  width: 30px;
  height: 40px;
  border-radius: 10px;
}

.achievement-grid.green {
  background-color: rgb(24,196,68);
}
.achievement-grid.gray {
  background-color: rgb(194, 194, 194);
}
.achievement-grid.red {
  background-color: rgb(240,44,44);
}
.achievement-grid.orange {
  background-color: rgb(245, 142, 17);
}
.achievement-grid.yellow {
  background-color: rgb(240, 232, 0);
}

#infos-wrapper {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: 60px 40px;
}

#achievements-infos {
  margin-right: 15px;
}

#achievements-infos p {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 0;
  margin-bottom: 0;
}

.habit-days {
  margin-left: 15px;
}

.info-tag {
  width: 25px;
}
