.small-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}
.small-wrapper-2 {
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  
}
.small-wrapper-2 .container {
  display: grid;
  gap: 10px;
}

.small-wrapper .container {
  display: grid;
  gap: 10px;
  margin-right: 30px;
}

.form-top {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 10px;
}

.form-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.form-inputs-1 {
  width: 345px;
  height: 20px;
  font-size: 20px;
  border-radius: 6px;
  padding: 5px;
  @media (max-width:842px){
    width: 150px;
    height: 15px;
    font-size: 15px;
  }
}
.form-inputs-2 {
  width: 300px;
  height: 20px;
  font-size: 20px;
  border-radius: 6px;
  padding: 5px;
  @media (max-width:842px){
    width: 150px;
    height: 15px;
    font-size: 15px;
  }
}
.form-inputs-3 {
  width: 35px;
  height: 20px;
  font-size: 20px;
  border-radius: 6px;
  padding: 5px;
  @media (max-width:842px){
    height: 15px;
    font-size: 15px;
  }
}

.labels-inputs-1 {
  font-size: 20px;
  @media (max-width:842px){
    font-size: 15px;
  }
}

.login-btn {
font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  border-radius: 6px;

  background-color: rgb(234, 229, 98);;
  color: rgb(67, 4, 70);
  border: 2px solid rgb(67, 4, 70);
  transition: all 0.3s;
  
}

.login-btn:hover {
  transition: all 0.3s;
  background-color: rgb(67, 4, 70);
    color: rgb(234, 229, 98);
    
   
  
  }

  .login-btn-3 {
    font-size: 20px;
    font-weight: 900;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;


      cursor: pointer;
      text-decoration: none;
      border-radius: 6px;
    
      background-color: rgb(234, 229, 98);;
      color: rgb(67, 4, 70);
      border: 2px solid rgb(67, 4, 70);
      transition: all 0.3s;
      @media (max-width:842px){
        font-size: 15px;
      }
    }
    
    .login-btn-3:hover {
      transition: all 0.3s;
      background-color: rgb(67, 4, 70);
        color: rgb(234, 229, 98);
        
       
      
      }


      .form-top-2 {
        display: flex;
        justify-content:flex-start;
        flex-direction: column;
        gap: 10px;
      }