<%= render partial: "elements/header-auth.html.erb" %>
<%= render partial: "elements/alert-messages.html.erb" %>
<div class="page">
<div class="div-page-header">
<h2 class="page-header">Create <%=@cycle.title%> habit</h2>
</div>



<%= render 'form', good_habit: @good_habit %>


</div>

</div>